main {
    width: 80vw;
    margin: auto;
}

table {
    width: 50%;
    border-collapse: collapse;
    margin: auto;
}

th {
    border-bottom: 1px solid black;
    text-align: left;
    padding: 10px 5px;
    font-size: 1.5rem;
}

tr:last-child td {
    border-bottom: 1px solid black;
}

td {
    padding: 20px 10px;
    font-size: 1.2rem;
}

.field-name {
    font-weight: bold;
}

form {
    margin: auto;
    width: 50%;
}

input[type=submit] {
    width: 100%;
    border-radius: 6px;
    background: transparent;
    border: #765 solid 2px;
    font-size: 1.5rem;
    padding: 10px 15px;
    margin-top: 35px;
}