main {
    padding-top: 2vh;
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 2fr;
}

#img-container {
    overflow: hidden;
    margin: 0 4rem 2rem 4rem;
}

#img-container img {
    width: 100%;
}

#desc {
    font-size: 2rem;
    line-height: 4rem;
    padding: 0 10rem 2rem;
    margin-bottom: 5rem;
}

@media (max-width: 1600px) {
    main {
        grid-template-columns: 1fr;
    }
}